.header_container{
  width: 100vw;
  height: 10vh;
  background-color: #141516;
  display: flex;
}

.nav_bar{
  display: flex;
  width: 100%;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}

.nav_options {
  display: flex;
  height: 40px;
  width: 600px;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
}